/* main */
/* border: 1px solid black; */
main {
  padding: 3.3rem;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  max-width: 157.5rem;
  margin: auto;
}

/* Profile */
.profile {
  border: 1px solid #e6e6e6;
  max-width: 150.9rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 13rem;
  padding: 2.5rem 4rem;
  display: flex;
  gap: 3.5rem;
  border-radius: 0.6rem;
}

/* border: 1px solid black; */
/* .left-profilePicture {
  position: relative;
} */
.photo {
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 50%;
  overflow: hidden;
}
/* .verified-badge {
  position: absolute;
  bottom: 2.7rem;
  right: 1rem;
} */

.profile-info {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
}
.username-wrapper {
  /* border: 1px solid blue; */
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.username {
  font-size: 3rem;
  font-weight: 600;
  color: var(--primary-color);
}
.verified {
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #efefef;
  color: black;
  border-radius: 1.1rem;
  padding: 0.2rem 0.8rem;
}
.name {
  font-size: 2rem;
  font-weight: 400;
  color: var(--text-color);
  margin-top: 0.1rem;
}
.rating {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-top: 0.5rem;
}
.rating-text {
  color: var(--text-color);
}
.bio {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  margin-top: 1.3rem;
  /* width: 57.3rem; */
}
.profile-info .btn-container {
  margin-top: 2.3rem;
  display: flex;
  gap: 1.1rem;
  font-size: 1.3rem;
  font-weight: 400;
}
.btn-edit-profile {
  padding: 0.8rem 2rem;
  border-radius: 0.6rem;
  background-color: var(--primary-color);
  color: white;
  margin: 0;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn-contact-artist {
  padding: 0.8rem 2rem;
  border-radius: 0.6rem;
  background-color: var(--primary-color);
  color: white;
  margin: 0;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-view-portfolio {
  padding: 0.8rem 2rem;
  border-radius: 0.6rem;
  background-color: white;
  color: black;
  margin: 0;
  border: 1px solid #e3e3e3;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

span svg {
  display: flex;
  align-items: center;
  gap: 1rem;
}


/* Featured Commissions Section  */
.featured {
  /* border: 1px solid red; */
  /* padding: 4.3rem; */
  /* margin-top: 3.4rem; */
}
.heading {
  font-size: 3.5rem;
  font-weight: 600;
  color: #111827;
  margin-bottom: 2rem;
}
.featured-container {
  /* border: 1px solid red; */
  max-width: 150.3rem;
  margin: auto;
}

.cards-grid-container {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolom dengan lebar yang sama */
  grid-template-rows: repeat(
    1,
    minmax(40.6rem, auto)
  ); /* Tinggi minimal 40.6rem, bisa otomatis jika konten lebih banyak */
  gap: 3rem 2.4rem; /* row-gap column-gap */
  max-width: 150.3rem;
  margin: auto;
}

.no-commissions-found {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolom dengan lebar yang sama */
  grid-template-rows: repeat(
    1,
    minmax(40.6rem, auto)
  ); /* Tinggi minimal 40.6rem, bisa otomatis jika konten lebih banyak */
  gap: 3rem 2.4rem; /* row-gap column-gap */
  max-width: 150.3rem;
  margin: auto;
}

.card {
  border: 1px solid rgba(227, 227, 227, 1);
  background-color: white;
  /* height: 40.6rem; */
  border-radius: 1rem;
  overflow: hidden;
  position: relative; /* Untuk posisi absolut di dalamnya */
  display: flex;
  flex-direction: column;
}
.tag-completed {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 1.1rem;
  background-color: var(--primary-color);

  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  padding: 0.1rem 1rem;
}

.card-text {
  padding: 1.7rem;
  /* position: relative;  */
  /* Untuk posisi absolut harga dan btn details */
}

.card-image-placeholder {
  width: 100%;
  height: 27.3rem;
  background-color: #e0e0e0;
}
.card-title {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
}
.card-author {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.card-like {
  margin-top: 2rem;
  /* margin-left: 1.1rem; */
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
}

.priceBtn-absolute {
  /* border: 1px solid red; */
  position: absolute;
  bottom: 0.8rem;
  right: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.card-price {
  justify-content: right;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
}
.card-details-wrapper {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;
  /* margin-top: 1.5rem; */
}
.card-details-btn {
  padding: 0.8rem 1.4rem;
  border-radius: 0.6rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease;
}
.card-edit-btn,
.card-delete-btn {
  /* padding: 0.85rem; */
  width: 4rem;
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: center;  
  border-radius: 0.6rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
}
.card-edit-btn svg, 
.card-delete-btn svg {
  /* border: 1px solid black; */
}

.card-view-btn {
  padding: 0.8rem 1.4rem;
  border-radius: 0.6rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease;
}

.card-details-btn:hover {
  background-color: rgba(23, 23, 23, 0.9);
  cursor: pointer;
}